.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_input{
    width: 205px;
    height: 42px;
    font-size: 16px;
    padding-left: 1em;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: italic;
    font-family: 'Courier New', Courier, monospace;
    transition: transform 200ms ease;
}
.form_input:hover{
    transform: scale(1.05);
}
.form_input::placeholder {
    color: #999; 
    font-style: italic; 
  }
.form_button{
    width: 100px;
    height: 40px;
    border: none;
    background-color: red;
    color: white;
    font-size: 1.3rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: transform 200ms ease;
}
.form_button:hover{
   transform:scale(1.05) ;
}


