.poq {
  width: 100%;
  }
  .poq_rojo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: red;
    position: relative;
  }
  .poq_negro{
    position: relative;
    background-color: black;
    height: 30px;
    width: 100%;
  }
  .poq_img {
    padding: 1rem;
     min-width: 260px;
     max-width: 500px;
     
  }
  .poq_p{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-size: 1.5rem;
    padding-bottom:1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
  }
  .poq_welcome{
    color: red;
    font-size: 1.9rem;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
  }


  @media (max-width: 500px){
    .poq_negro{
      height: 15px;
    }
    .poq_rojo{
      height: 100px;
    }
    .poq_p{
      flex-direction: column;
      text-align: center;
    }
  }

  @media (max-width: 903px){
    .poq_p{
      flex-direction: column;
      text-align: center;
    }
  }

  